<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" th:src="@{/css/chat.css}">
</head>
<body>
<script th:inline="javascript">
    var roomName = [[${room.name}]];
    var roomId = [[${room.roomCode}]];
    var username = [[${userDetails.returnProfile().getNickname()}]];
    var chatUserId= [[${userDetails.getId()}]];
</script>
<div class="container">
  <div class="col-6">
    <h1>[[${room.name}]]</h1>
  </div>
  <div>
      <div>
          <th:block th:each="Member: ${inMember}">
              <div>
                  <input type="hidden" th:value="${Member.id}" name="hiddenId">
                  <input th:id="userCheck+${Member.id}" type="checkbox" th:onclick="|javascript:userCheck(${Member.id})|">
                  <span th:text="${Member.getId()}"/>
                  <span th:text="${Member.getNickname()}"/>
                  <button type='button' th:id='userButton+${Member.id}' th:onclick="|javascript:subKick(${Member.id})|" } style="visibility: hidden">강퇴</button>
              </div>
          </th:block>
      </div>
        <div>
            <th:block th:each="message:${chatMessages}">
                <div th:if="${message.getWriter()} == ${userDetails.returnProfile().getNickname()}">
                    <div id='writeByMe' style='color: blue'>
                        <b><span style='font-size:10px;' th:text="${message.getChatTime()}"/> <span th:text="${message.getWriter()}"/> : <span th:text="${message.getMessage()}" /></b>
                    </div>
                </div>
                <div th:unless="${message.getWriter()} == ${userDetails.returnProfile().getNickname()}">
                    <div id='writeByYou' style='color: red'>
                        <b><span style='font-size:10px;' th:text="${message.getChatTime()}"/> <span th:text="${message.getWriter()}"/> : <span th:text="${message.getMessage()}" /></b>
                    </div>
                </div>
            </th:block>
        </div>
    <div id="msgArea" class="col"></div>
    <div class="col-6">
      <div class="input-group mb-3">
        <input type="text" id="msg" class="form-control">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" onclick="sendMessage()" id="button-send">전송</button>
          <button class="btn btn-outline-secondary" type="button" onclick="disconnectChat()" id="button-leave">퇴장</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6"></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script type="text/javascript" th:src="@{/js/room.js}"></script>
</body>

</html>
