<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="header">
	<script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
	<script src="https://cdn.jsdelivr.net/sockjs/1/sockjs.min.js"></script>
	<script src="/webjars/stomp-websocket/2.3.3/stomp.min.js"></script>
	<script th:inline="javascript">
        let socket = null;
        let chatSocket = null;
        let isStomp = false;
        let userId = [[${userDetails.id}]]

        function connectStomp(){
            let alarmSock = new SockJS("/ws/alarm");
            let client = Stomp.over(alarmSock);
            client.debug = null;
            isStomp = true;
            socket = client;

            client.connect({}, function (frame){
                console.log("소켓 연결 성공!", frame);
                client.subscribe('/topic/alarm/user/' + userId, function (result){

                    console.log(result.body)

                    let split = result.body.split('/');

                    if(split[0] === "chat"){
                        $("#badge")[0].innerText = split[1];
                    }else{
                        $(".alarm_btn")[0].innerText = split[1];
                    }
                })
            })
        }

        connectStomp();
	</script>
	<link rel="stylesheet" href="/css/header.css">
	<div>
		<div class="alarm_">
			<div class="alarm-">
				<div class="alarm__">
					<button class="alarm_btn" onclick="alarmsClick()">
						[[${alarmCount}]]
					</button>
				</div>
			</div>
		</div>
	</div>

	<div id="talk-plugin">
		<div id="talk-plugin-core">
			<div class="launcher" onclick="ch_open()">
				<div id="ch-plugin-launcher">
					<img src="" width="74" height="74">
					<div id="badge">
						0</div>
				</div>
			</div>
		</div>
		<div id="chat_main" class="ch-plugin-script ch-desk-messenger rightPosition" style="display: none">
			<div class="ch-plugin-script-iframe" style="position:relative!important;height:100%;width:100%!important;border:none!important;">
				<div class="ch-main">
					<div class="ch-main-container">
						<div class="ch-main-container-inner">
							<div class="ch-main-container-header">
								<div class="ch-main-container-title">
									다인
									<div class="ch-close-btn">
										<button type="button" class="ch-btn" onclick="ch_close()">x</button>
									</div>
								</div>
								<div class="ch-main-container-header_">
									실시간 채팅
								</div>
							</div>
							<div class="ch-main-container-body">
								<ul class="chat_rooms">

								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" th:src="@{/js/header.js}"></script>
</th:block>
</html>