.container{
    height: 100%;
}

.main{
    padding: 50px 3% 50px 3%;
    border: 1px solid #ececec;
    margin: 50px auto 50px auto;
    /*margin: 100px 0 80px;*/
    width: 86%;
    height: auto;
    position: relative;
    max-width: 1060px;
}

.username{
    margin-bottom: 25px;
}

.title{
    margin-bottom: 25px;
}

.content{
    margin-bottom: 25px;
}

.reply_container{
    padding: 50px 3% 50px 3%;
    border: 1px solid #ececec;
    margin: 50px auto 50px auto;
    /*margin: 100px 0 80px;*/
    width: 86%;
    height: auto;
    position: relative;
    max-width: 1060px;
}

.reply_write{
    display: flex;
}

.reply_input{
    margin-right: 10px;
}

.reply{
    margin-top: 15px;
    padding: 2% 3% 2% 3%;
    border: 1px solid #ececec;
    /*margin: 50px auto 50px auto;*/
    width: 86%;
    height: auto;
    position: relative;
}

.reply_page{
    margin-top: 15px;
    height: auto;
    display: flex;
}

.reply_btn{
    margin-right: 10px;
}

.reply_btn button[aria-selected=true]{
    background-color: #007bff;
}

.reply_btn button{
    height: 30px;
    width: 30px;
}